.imgcontainer{
  background-color: black;
  padding: 10px;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.logo {
  max-width: 50%;
  height: auto;
}
