div {
  margin: auto;
  align-content: center;

}

form {
  margin: auto;
  text-align: center;
}

.header {
  background-color: navy;
  color: #7FFFD4;
  text-align: center;
  font-family: Geneva;
  padding: 100px;
}

.desc{
  text-align: center;
}

.button {
  background-color: navy;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button3 {border-radius: 8px;}

h2 {
  font-size: 20px;
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50px;
  box-shadow: 0 10px 10px 0 rgb(0,0,0,0.5);
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

th {
  background-color: var(--main-color);
  color: var(--light-color);
}

.theme {
  background-color: var(--main-color);
  color: white;
  text-align: center;
  font-family: Geneva;
  padding: 100px;
}

.theme.theme-black{
  background-color: #333333;
}
.theme.theme-pink{
  background-color: pink;
  color: #333333;
}
.theme.theme-orange{
  background-color: orange;
}
.theme.theme-yellow{
  background-color: yellow;
  color: #333333;
}

.theme.theme-og{
  background-color: var(--main-color);
}
.theme.theme-red{
  background-color: #e02121;

}

.theme.theme-blue{
  background-color: #2980B9;
}

.theme.theme-green{
  background-color: #11cc3b;
}
