.header {
  background-color: navy;
  color: #7FFFD4;
  text-align: center;
  font-family: Geneva;
  padding: 100px;
}

.font{
  color: navy;
  font-family: Geneva;
  text-align: center;
}
.chart {
  align-content: center;
  color: navy;
}

.copyright {
  color: navy;
  text-align: center;
  font-family: Geneva;
}
