<html>
<app-navbar></app-navbar>
<app-newnavbar></app-newnavbar>
<div class="header">
  <h1>WELCOME TO SOJAZ FITNESS</h1>
  <h3>Where fitness, is for SOJAZ</h3>
</div>

<br>

<div class="font">
  <p>SOJAZ FITNESS is the gateway to the best fitness site ever! take a wild ride by using the honor system tracking your calories
    and miles you've ran. Don't lie though, we know the difference between walking to the store to get chips vs. actually getting that
    beach body. So enjoy!</p>
</div>

<div class="chart">
  <h3>Here is what your chart can look like!</h3>
  <app-barchart></app-barchart>
</div>

<br>
<br>

<div class="copyright">
  <h5>COPYRIGHT BY SOJAZ LLC. 2022</h5>
</div>



</html>

