<div>
  <h2 class="title">Reset Your Password</h2>
</div>

<form style="max-width: 350px; margin: 0 auto;">
  <input type="hidden" name="token" value="${token}" />
  <div class="border border-secondary rounded p-3">
    <div>
      <p>
        <input type="token" #Token [(ngModel)]="token" name="token" id="token" class="form-control"
               placeholder="Enter token" required autofocus (change)="error=''"/>
      </p>
      <p>
        <input type="password" #Password name="password" id="password" class="form-control"
               placeholder="Enter your new password" required autofocus (change)="error=''"/>
      </p>
      <p>
        <input type="password" #ConfirmPassword class="form-control" placeholder="Confirm your new password"
               required (change)="error=''"/>
      </p>
      <p class="text-center">
        <button (click)="resetNewPassword(Password.value, ConfirmPassword.value, Token.value)">Reset Password</button>
      </p>
      <p class="mat-error" *ngIf="error">{{error}}</p>
    </div>
  </div>
</form>

