<div>
  <h2>Reset Your Password</h2>
</div>


<div class="form-container">
  <form #filterData="ngForm" (ngSubmit)="filterUserEmail(filterData)" novalidate>
    <div class="form-group">
      <input style="width: 250px; margin: auto; text-align: center;"  class="form-control filter-input" name="filterName" value="filterName" id="filterName" ngModel required #muscle="ngModel">
      <br>
      <button (click)="pageOneDisplay()">Reset password</button>
    </div>
  </form>
</div>


<!--<table style="margin: auto; text-align: center; width: 600px" >
  <tr>
    <th>Email</th>
    <th>Password</th>
  </tr>
  <tr *ngFor="let emails of listitems;">

      <td>{{emails.email}}</td>
      <td>{{emails.password}}</td>
    <td><button (click)="editEmit(emails.id)">Edit</button></td>
  </tr>
</table>

<div *ngIf="selected === 'editpassword'">
  <h1>EDIT PASSWORD</h1>

  <form #inputData = "ngForm" (ngSubmit)="updatePassword(inputData)" novalidate>
    <label>New Password</label>
    <input type="text" ngModel="{{editItem.password}}" name="password" required="required">
    <button type=submit class="Submit button">SUBMIT</button>
  </form>
</div>-->



<!--<form action="@{/reset_password}" method="post" style="max-width: 350px; margin: 0 auto;">
  <input type="hidden" name="token" value="${token}" />
  <div class="border border-secondary rounded p-3">
    <div>
      <p>
        <input type="password" name="password" id="password" class="form-control"
               placeholder="Enter your new password" required autofocus />
      </p>
      <p>
        <input type="password" class="form-control" placeholder="Confirm your new password"
               required oninput="checkPasswordMatch(this);" />
      </p>
      <p class="text-center">
        <input type="submit" value="Change Password" class="btn btn-primary" />
      </p>
    </div>
  </div>
</form>-->
