<div>
  <h2>Reset Your Password</h2>
</div>

<form style="max-width: 350px; margin: 0 auto;">
  <input type="hidden" name="token" value="${token}" />
  <div class="border border-secondary rounded p-3">
    <div>
      <p>
        <input type="token" #Token name="token" id="token" class="form-control"
               placeholder="Enter token" required autofocus />
      </p>
      <p>
        <input type="password" #Password name="password" id="password" class="form-control"
               placeholder="Enter your new password" required autofocus />
      </p>
      <p>
        <input type="password" class="form-control" placeholder="Confirm your new password"
               required oninput="checkPasswordMatch(this);" />
      </p>
      <p class="text-center">
        <button (click)="resetNewPassword(Password.value, Token.value)">Send Email</button>
      </p>
    </div>
  </div>
</form>
