<div class="container-all">
  <div class="modal-custom">
    <div class="top">
      <h1 class="title">ADD USER</h1>
      <h2 class="exit">CLOSE</h2>
    </div>

      <div class="inputcontainer">
        <label>EMAIL</label>
        <input type="text">
        <label>USERNAME</label>
        <input type="text">
        <label>FIRST NAME</label>
        <input type="text">
        <label>LAST NAME</label>
        <input type="text">
        <label>PASSWORD</label>
        <input type="password">
        <label>CONFIRM PASSWORD</label>
        <input type="password">
        <div class="button-container">
          <button class="Cancel button">CANCEL</button>
          <button class="Submit button">SUBMIT</button>
        </div>
      </div>

  </div>
</div>

