<!DOCTYPE html>
<html lang="en">
<head>
  <title>CSS Template</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

<div class="sidenav">
  <a href="/welcomepage">Go Back Home</a>
  <a href="#">FAQ</a>
  <a href="#">Privacy & Security</a>
  <a href="#">Contact Us</a>
</div>

<div class="contentHeader">
  <h1>SETTINGS</h1>
  <h3> For those you need better understanding</h3>

</div>
<div class="content">
  <h2>FAQ</h2>
  <p>Q: How does this app work?</p>
  <p>A: It is a very simple and easy to use application that allows you to track your calories and track your fitness goals!</p>

  <p>Q: Do I need to make an account to save my calories?</p>
  <p>A: Yes, in order to save your goals and keep track of your calorie intake, you must create an account, we do not take in
  any personal data and send it to the FBI, unless we have to.</p>

  <p>Q: How does this app work?</p>
  <p>A: It is a very simple and easy to use application that allows you to track your calories and track your fitness goals!</p>

  <p>Q: Do I need to add any personal information?</p>
  <p>A: NOPE, we only ask for your basic infor such as name and email when creating an account.</p>
</div>

<div class="content">
  <h2>Privacy & Security</h2>
  <p>Here at SOJAZ Fitness, we strive to create a way for users to be able to workout and keep track of there goals as much
  as they can, without any worry of having there information exposed. We have a zero tolerance policy in exposing or releasing
    any information to any authority or any third party companies who choose to try and get sensitive information from
    eating donuts with milk. By creating an account with us, it is a gurantee that we as a company will not release any information
  as well as leave you in the dark. we have integrated a very professional website that will prevent any hackers from entering in.</p>
</div>



<div class="content">
  <h2>Contact Us</h2>
  <div class="container">
    <form action="/action_page.php">
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name..">

      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name..">

      <label for="country">Country</label>
      <select id="country" name="country">
        <option value="usa">USA</option>
        <option value="mexico">Mexico</option>
        <option value="el salvador">EL Salvador</option>
        <option value="australia">Australia</option>
        <option value="canada">Canada</option>

      </select>

      <label for="subject">Subject</label>
      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

      <input type="submit" value="Submit">
    </form>
  </div>
</div>

<br>

<footer>
  <h5>COPYRIGHT BY SOJAZ LLC. 2022</h5>
</footer>

</body>






</html>
