<!DOCTYPE html>
<html lang="en">
<app-navbar></app-navbar>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Types of Shoulder Workouts</h2>
  <ul class="list-group">
    <li class="list-group-item">Push ups- get down on all fours, extend your legs behind you, and lower your upper body. Hold this position for a few seconds and push yourself back up parallel to the floor. </li>

    <li class="list-group-item">Overhaed Press- the starting position by standing with your barbell tucked underneath your chin and your hands close to your shoulders and palms facing upwards. Extend your arms to raise the barbell above your head. Wait a few seconds before gradually lowering the barbell.</li>

    <li class="list-group-item">Crab Walk - crawl by moving one hand along with the opposite foot and repeating on the other side. It’ll takes some practice to master, but it’s a worthy inclusion to to any full-body workout. </ul>
</div>

</body>
</html>
