<app-navbar></app-navbar>
<div class="header">
  <h1>EXERCISE POST</h1>
  <h3>What you have been working out on?</h3>
</div>
<!--  <h2>Enter Your Workout</h2>
<form #workoutData="ngForm" (ngSubmit)="workout(workoutData)" novalidate style="width: 500px;">
  <div class="form-group">
    <input class="form-control login-input" name="name" id="name" placeholder="Enter Workout" ngModel=""><br>
  </div>
  <div class="form-group">
    <input class="form-control login-input" name="description" id="description" placeholder="Enter Description" ngModel=""><br>
  </div>
  <div class="form-group">
    <input class="form-control login-input" name="type" id="type" placeholder="Enter Type" ngModel=""><br>
  </div>
  <button class="button button3">Submit</button>
</form>-->
<div class="content mat-app-background " [ngClass]="{'darkMode': isDarkTheme}">
<h2>Filter Workouts by Muscle</h2>
<div class="form-container">
  <form #filterData="ngForm" (ngSubmit)="filterMuscles(filterData)" novalidate>
    <div class="form-group">
      <input style="width: 250px; margin: auto; text-align: center;"  class="form-control filter-input" name="filterName" value="filterName" id="filterName" ngModel required #muscle="ngModel">
      <br>
      <button class="button button3">Filter By Muscle</button>
    </div>
  </form>
</div>
<br>
<h2>Weight Workouts</h2>
<table style="margin: auto; text-align: center; width: 600px" >
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Type</th>
    <th>Muscle</th>
  </tr>
  <tr *ngFor="let exercises of this.exerciseService.exercises; let i = index">
    <ng-container *ngIf="exercises.type == 'Weight'">
      <td>{{exercises.name}}</td>
      <td>{{exercises.description}}</td>
      <td>{{exercises.type}}</td>
      <td>{{exercises.muscles![0].muscleName}}</td>
    </ng-container>
  </tr>
</table>
<br><br>
<h2>Cardio Workouts</h2>
<table style="margin: auto; text-align: center; width: 600px" >
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Type</th>
  </tr>
  <tr *ngFor="let exercises of this.exerciseService.exercises; let i = index">
    <ng-container *ngIf="exercises.type == 'Cardio'">
      <td>{{exercises.name}}</td>
      <td>{{exercises.description}}</td>
      <td>{{exercises.type}}</td>
    </ng-container>
  </tr>
</table>
<br>
</div>
<footer>
 <p>COPYRIGHT BY SOJAZ LLC.</p>
  <a href="settingspage">Settings</a>
</footer>
