<app-navbar></app-navbar>
<div class="header">
  <h1>WELCOME TO YOUR FITNESS PROFILE</h1>
  <h3>Check out the progress you've done so far solider!</h3>
</div>

<div class = "profile">
  <h2 class = "titleHead">My Progress</h2>

  <div class="card" *ngIf="currentUserProfile">

    <div class="topPart">
      <div class="profpic">
        <img src="assets/aaikfy.jpg" alt="John" class="photoStyle" >
      </div>
      <div class = "profDesc"> <h1>Welcome Bitch</h1>
        <div class="title">


          <p>Sex: Male</p>
          <p>Diet: I wish</p>
          <p>Height: {{currentUserProfile.height}}</p>
          <P>Lifestyle: {{currentUserProfile.lifestyle}}</P>
        </div>

      </div>
    </div>

    <br>

    <div class="bottomPart">
      <div class="bottomLeftPart">

          <a href="url">Change Theme</a>
          <a href="url">Change Password</a>
          <a href="url">Change Email</a>
        <a (click)="logout()" >LOG OUT</a>

      </div>
      <div class="bottomRightPart">
        <p>Current Weight: {{currentUserProfile.currenWeight}}</p>
        <p>Goal Weight: {{currentUserProfile.goalWeight}}</p>
        <p>Calories done today: 400</p>
        <p>Calorie Goal: 2500</p>
      </div>
    </div>

  </div>

</div>






<app-footer></app-footer>

