<app-navbar></app-navbar>
<div class="header">
  <h1>WELCOME TO YOUR FITNESS PROFILE</h1>
  <h3>Check out the progress you've done so far solider!</h3>
</div>

<div class = "profile">
  <h2 class = "titleHead">My Progress</h2>

  <div class="card">

    <div class="topPart">
      <div class="profpic">
        <img src="assets/aaikfy.jpg" alt="John" class="photoStyle" >
      </div>
      <div class = "profDesc"> <h1>Aakify</h1>
        <div class="title">


          <p>Sex: Male</p>
          <p>Diet: I wish</p>
          <P>Lifestyle: Mexican Salvadorean</P>
        </div>

      </div>
    </div>

    <br>

    <div class="bottomPart">
      <div class="bottomLeftPart">

          <a href="url">Change Theme</a>
          <a href="url">Change Password</a>
          <a href="url">Change Email</a>
        <a (click)="logout()" >LOG OUT</a>

      </div>
      <div class="bottomRightPart">
        <p>Current Weight: 193</p>
        <p>Current Height: 6.1</p>
        <p>Goal Weight: 185</p>
        <p>Calories done today: 400</p>
        <p>Calorie Goal: 2500</p>
      </div>
    </div>

  </div>


</div>

<div class="container-width">
  <div class="LIST">
    <table *ngIf="users">
      <thead>
      <th>ID</th>
      <th>NAME</th>
      <th>HEIGHT</th>
      <th>LIFESTYLE</th>
      <th>CURRENT WEIGHT</th>
      <th>GOAL WEIGHT</th>
      <th>EDIT</th>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td label="ID">{{user.id}}</td>
        <td label="NAME">{{user.user}}</td>
        <td label="HIEGHT">{{user.height}}</td>
        <td label="LIFESTYLE">{{user.lifestyle}}</td>
        <td label="CURRENT WEIGHT">{{user.currenWeight}}</td>
        <td label="GOAL WEIGHT">{{user.goalWeight}}</td>
        <td class="buttontd"><button class="edit-button button">EDIT</button></td>
      </tr>

      </tbody>
    </table>

  </div>
</div>



<app-footer></app-footer>

