<!DOCTYPE html>
<html lang="en">
<app-navbar></app-navbar>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Types of Back Workouts</h2>
  <ul class="list-group">
    <li class="list-group-item">Forearm Plank - Rest your forearms on the floor, with your elbows directly underneath your shoulders and hands facing forward so that your arms are parallel.
      Extend your legs out behind you and rest your toes on the floor. Your body should form one straight line from your shoulders to your heels.
      Squeeze your entire core, glutes, and quads, and tuck your butt under a little to keep your lower back straight. Make sure you are not dropping your hips or hiking your butt up high toward the ceiling.
      Position your head so that your neck is in a neutral position and your gaze is on your hands.
      Hold this position. </li>
    <li class="list-group-item">Russian Twist - Sit with your knees bent out in front of you, feet flexed, and heels on the floor.
      Hold your hands to your chest and lean your torso back until you feel your abdominal muscles engage. For an extra challenge, add a dumbbell (as pictured).
      Slowly twist your torso from right to left. Remember to keep your core tight (and breathe!) throughout. This is one rep.  </li>
    <li class="list-group-item">Butterfly Sit-up - Lie faceup with the soles of your feet together, knees bent out to sides. Reach your arms overhead. This is starting position.
      Using your core, roll your body up until you are sitting upright. Reach forward to touch your toes. That's one rep.
      Slowly lower back down to starting position and continue immediately into the next rep. </ul>
</div>

</body>
</html>
