li {
  float: left;
}

.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navDisplay:hover {
  border-radius: 5px;
  background-color: #2993ff;
  cursor: pointer;
}
.navButton {
  display: block;
  color: white;
  text-align: Center;
  padding: 14px 16px;
  text-decoration: none;

}
