<div class="nav">
  <div class="left">
    <img class="logo" src="assets/SOJAZLOGO%201.svg"/>
  </div>
  <li class="link" (click)="pageOneDisplay()">
    <a class="navButton">Welcome</a>
  </li>
  <li class="link" (click)="pageSixDisplay()">
    <a class="navButton">My Profile</a>
  </li>
  <li class="link" (click)="pageFourDisplay()">
  <a class="navButton">My Progress</a>
</li>

  <li class="link" (click)="pageThreeDisplay()">
    <a class="navButton">Workouts</a>
  </li>
  <li class="link" (click)="pageTwoDisplay()">
    <a class="navButton">About Us</a>
  </li>
  <li class="link" (click)="pageFiveDisplay()">
    <a class="navButton">Workout Post</a>
  </li>
  <li class="link" (click)="logout()">
    <a class="navButton" (click)="logout()" >Log Out</a>
  </li>

</div>
<router-outlet></router-outlet>
