

<div class="container-all">

  <div class="contain-width">
  <div class="nav">
    <div class="left">
      <img class="logo" src="assets/SOJAZLOGO%201.svg"/>
    </div>
    <div class="right">
      <div class="link"><a href="#">SIGN UP</a></div>
      <div class="link"><a href="#">LOGIN</a></div>
      <div class="link"><a href="#">ABOUT</a></div>
    </div>
  </div>

  <div class="hero">
    <div class="hero-image"><img class="img" src="assets/hero-image-no-shadow.svg"> </div>
    <div class="hero-details">
      <h1>SOJAZ FITNESS</h1>
      <div class="description">
        <p>Track your calories.</p>
        <p>Track your workouts.</p>
        <p>Be the best you.</p>
      </div>
      <div class="buttons">
        <button class="button light">GET STARTED</button>
        <button class="button dark">LOGIN</button>
      </div>
    </div>
  </div>
    <img class="big-purple circle" src="assets/big-purple.svg"/>
    <img class="small-white-circle circle" src="assets/small-white-circle.svg"/>
    <img class="medium-white-circle circle" src="assets/medium-white-circle.svg"/>
    <img class="large-white-circle circle" src="assets/large-white-circle.svg"/>
  </div>
</div>
