//
//* {
//  margin: 0px;
//  padding: 0px;
//}
//.container-all {
//  font-family: var(--ff-regular);
//  position: absolute;
//  margin: auto;
//  background-color: var(--dark-color);
//  height: 100vh;
//  width: 100%;
//}
//.contain-width {
//
//  width: 80%;
//  margin: auto;
//  height: 100%;
//}
//.nav {
//  display: flex;
//  flex-direction: row;
//  min-height: 10%;
//}
//.left {
//  flex: 1;
//  margin-left: 100px;
//}
//.logo:hover {
//  cursor: pointer;
//}
//.right {
//  display: flex;
//  align-items: center;
//  justify-content: space-between;
//}
//.link {
//  margin-left: 80px;
//  width: 150px;
//  height: 50px;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  border-radius: 10px;
//  border: 2px solid transparent;
//}
//
//
//.link:nth-last-child(1) {
//  margin-right: 250px;
//}
//a {
//  color: var(--light-color);
//  text-decoration: none;
//  font-size: 18px;
//  transition: font-size 100ms;
//}
//a:hover {
//  font-size: 20px;
//  //transform: translateY(-2px);
//}
//.hero {
//  z-index: 1;
//  position: relative;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  height: 80%;
//}
//.hero-image-div {
//  display: flex;
//  flex: 1;
//  align-items: center;
//  margin-left: 100px;
//  height: 400px;
//}
//.img {
//  box-shadow: -20px 20px 2px 0px rgba(255, 255, 255, 0.3),
//  -40px 40px 4px 0px rgba(255, 255, 255, 0.15);
//}
//.hero-details {
//  max-width: 100%;
//  display: flex;
//  flex-direction: column;
//  padding-left: 150px;;
//  flex: 1;
//  height: 380px;
//  justify-content: space-between;
//}
//
//.hero-details h1 {
//  color: var(--light-color);
//  font-size: 4rem;
//  font-family: var(--ff-regular);
//  font-weight: var(--bold);
//}
//
//.hero-details p {
//  color: var(--light-color);
//  font-size: 30px;
//  margin: 15px 0;
//}
//
//.description {
//  display: flex;
//  flex-direction: column;
//}
//
//.buttons {
//  display: flex;
//}
//.button {
//  width: 175px;
//  height: 75px;
//  border-radius: 10px;
//  font-size: 18px;
//  border: 2px solid var(--light-color);
//}
//.button:nth-last-child(1) {
//  margin-left: 50px;
//}
//.light {
//  background-color: var(--light-color);
//  color: var(--main-color);
//  font-weight: var(--semi-bold);
//  transition: font-size 100ms;
//}
//.light:hover {
//  color: white;
//  background-color: #0b0636;
//}
//.dark:hover {
//  background-color: #0b0636;
////  font-size: 19px;
//}
//.dark {
//  background-color: var(--main-color);
//  color: var(--light-color);
//}
//
//.big-purple {
//  position: absolute;
//  bottom: 0px;
//  right: 0px;
//}
//.small-white-circle {
//  position: absolute;
//  top: 30%;
//  left: 13%;
//}
//.medium-white-circle {
//  position: absolute;
//  top: 32%;
//  left: 35%;
//}
//.large-white-circle {
//  position: absolute;
//  top: 50%;
//  left: 13%;
//}
//
//
//@media only screen and(max-width: 1800px) {
//
//  .hero-details{
//    margin-right: 10%;
//    padding-right: 100px;
//  }
//  .hero-details h1 {
//    margin: 20px;
//    margin-left: 0px;
//    line-height: 60px;
//  }
//
//  .button {
//    margin-top: 20px;
//  }
//  .circle {
//    opacity: 0.20;
//  }
//}
//
//@media only screen and(max-width: 1500px) {
//
//  .nav {
//    flex-basis: auto;
//  }
//  .right {
//    width: 40%;
//    margin-right: 20%;
//  }
//
//
//  .circle {
//    opacity: .02;
//  }
//  .hero {
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//    justify-content: center;
//    .hero-image-div {
//      margin: 0px;
//    }
//    .hero-details {
//      width: 100%;
//      justify-content: center;
//      align-items: flex-start;
//      margin: 0px;
//
//    }
//  }
//  .contain-width {
//    width: 90%;
//  }
//}
//
//@media only screen and(max-width: 900px) {
//
//  .img {
//    max-width: 90%;
//    height: auto;
//    box-shadow: none;
//    padding: 10px;
//  }
//
//}
//
//@media only screen and(max-width: 600px) {
//  .right{
//  display: none;
//}
//
//}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-all {
  background-color: var(--dark-color);
  width: 100%;
  min-height: 100vh;
}

.img {
  width: 100%;
}

.contain-width {
  width: 90%;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  flex: 1;
}

.link {
  font-family: var(--ff-regular);
  font-weight: 600;
}

.menu-icon {
  width: 25px;
  cursor: pointer;
}
.hero {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.hero-image {
  border: 2px solid var(--light-color);
}

.hero-image-div {
  padding: 0 0 30px;
}

.hero-details {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--light-color);
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: var(--ff-regular);
  }
}

.description {
  font-family: var(--ff-regular);
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 15px;
}

.buttons {
  font-family: var(--ff-regular);
  display: flex;
  flex-direction: column;
  width: 50%;
}

.button + .button,
.button-a + .button-a{
  margin-top: 10px;
}

.button {
  width: 100%;
  height: 6vh;
  border-radius: 0.5rem;
}

.button:hover {
  background-color: #0b0636;
  color: white;
}

.light {
  background-color: var(--light-color);
  color: var(--main-color);
  font-family: var(--ff-regular);
  font-weight: 700;
  border: 2px solid var(--light-color)
}

.dark {
  background-color: var(--main-color);
  color: var(--light-color);
  border: 2px solid var(--light-color);
}

.big-purple {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.large-white-circle,
.medium-white-circle,
.small-white-circle {
  display: none;
}

@media only screen and(max-width: 1000px) {
  .right {
    z-index: 1;
    height: 20vh;
    transition: height 100ms;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10%;
    a {
      color: white;

    }
    .link {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50%;
      background-color: transparent;
      border: 1px solid var(--light-color);
      border-radius: 0.5rem;

    }
  }
  .hidemenu {
    height: 0;
    transition: height 2s;
    visibility: hidden;
    position: absolute;
  }
}

@media only screen and (min-width: 650px) {

  .hero-details {
    h1 {
      font-size: 4rem;
      margin: 2rem auto;
    }
  }

  .description {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .button {
    font-size: 1.4rem;
  }

  .big-purple {
    bottom: -25%;
    height: 90%;
    width: 90%;
  }
}

@media only screen and (max-height: 650px) {
  .big-purple {
    width: 70%;
  }
}
@media only screen and (max-height: 400px) {
  .big-purple {
    display: none;
  }
}
@media only screen and (min-width: 1001px) {

  .big-purple {
    height: 800px;
    bottom: -200px;
    right: -400px;
  }
  .container-all {
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
  }
  .contain-width {
    box-sizing: border-box;
    height: 80%;
  }

  .menu-icon {
    display: none;
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: var(--ff-regular);
    a {
      color: var(--light-color);
      text-decoration: none;
    }
    .link:hover {
      transform: translateY(-3px);
    }
  }

  .hero {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
  }

  .hero-image {
    max-width: 600px;
    height: auto;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .hero-image-div {
    flex: 1;
    position: relative;
    //background-color: rgb(52, 43, 109,0.5);
    //box-shadow: 10px 10px 15px rgb(0,0,0,0.5);
    //border-top: 2px solid rgb(255,255,255,0.3);
    //border-left: 2px solid rgb(255,255,255,0.3);
    //
    //border-radius: 10px;
    //max-height: 480px;
    //aspect-ratio: (2,1);
  }
  .hero-details {
    flex: 1;
    display: flex;

    ////glassmorphism practice
    //background-color: rgb(255,255,255,0.1);
    //text-align: center;
    //border-radius: 20px;
    //box-shadow: 10px 10px 15px rgb(0,0,0,0.5);
    //border-top: 2px solid rgb(255,255,255,0.2);
    //border-left: 2px solid rgb(255,255,255,0.2);
    //backdrop-filter: blur(5px);

    h1 {
      font-size: 3rem;
    }
  }
  .description {
    font-size: 1.5rem;
    //display: flex;
    //flex-direction: column;
    //align-items: center;

  }

  .buttons {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    //justify-content: space-around;
    //align-items: center;
  }

  .button {
    width: 175px;
    height: 75px;
    font-size: 1rem;
  }
  .button + .button,
  .button-a + .button-a{
    margin: 0;
  }
}

@media only screen and (min-width: 1400px) {

  @keyframes drop {
    0% {
      transform: translateY(-50px);
      opacity: 0%;
    }
    100% {
      transform: translateY(0);
      opacity: 100%;
    }

  }

  .large-white-circle {
    opacity: 0.8;
    width: 400px;
    display: block;
    position: absolute;
    left: 10%;
    bottom: 5%;
  }

  .medium-white-circle {
    opacity: 0.8;
    width: 300px;
    display: block;
    position: absolute;
    left: 38%;
    top: 28%;
  }
  .small-white-circle {
    opacity: 0.8;
    width: 200px;
    display: block;
    position: absolute;
    left: 12%;
    top: 26%;
  }

  .hero-image-div {
    margin-left: 10%;
  }

  .hero-details {
    margin-left: 10%;
    display: flex;
    height: 65%;
    justify-content: space-around;

    h1 {
      width: 100%;
      font-size: 4rem;
    }
    .description {
      font-size: 2rem;
      text-align: left;
      line-height: 25px;
    }
    .description {
      animation: 0.50s ease-out 0s 1 drop;
    }

    .light {
      animation: .5s ease-out .25s 1 drop;
      animation-fill-mode: both;
    }
    .dark {
      animation: .5s ease-out .5s 1 drop;
      animation-fill-mode: both;

    }
    .buttons {

      width: 100%;
      justify-content: left;
    }
    .button + .button,
    .button-a + .button-a{
      margin-left: 5%;
    }
  }
}

@media only screen and (max-width: 340px) {
  .hero-details h1{
    font-size: 2rem;
  }
}


::selection {
  background-color: var(--light-color);
  color: var(--main-color);
}
