<div class="container-all">
  <app-newnavbar></app-newnavbar>

  <div class="contain-width">

<!--    <div class="nav">-->
<!--    <div class="left">-->
<!--      <img class="logo" src="assets/SOJAZLOGO%201.svg"/>-->
<!--    </div>-->

<!--    <img class="menu-icon" (click)="toggleBurgerMenu()" src="assets/menu-icon.svg"/>-->
<!--&lt;!&ndash;    <div  [ngClass]="(showmenu && innerWidth < 1000 ? 'right':'hidemenu') || (innerWidth>=1000 ? 'right': 'hello')">&ndash;&gt;-->
<!--    <div class="" [ngClass]="showmenu ? 'right':'hidemenu'">-->
<!--      <div class="link"><a href="/signup">SIGN UP</a></div>-->
<!--      <div class="link"><a href="/loginpage">LOGIN</a></div>-->
<!--      <div class="link"><a href="/aboutus">ABOUT</a></div>-->

<!--    </div>-->
<!--  </div>-->

  <div class="hero">
    <div class="hero-image-div"><img class="img hero-image" src="assets/hero-image-no-shadow.svg"/></div>
    <div class="hero-details">
      <h1>SOJAZ FITNESS</h1>
      <div class="description">
        <p>Track your calories.</p>
        <p>Track your workouts.</p>
        <p>Be the best you.</p>
      </div>
      <div class="buttons">
        <a class="button-a" href="/signup"><button class="button light">GET STARTED</button></a>
        <a class="button-a" href="/loginpage"><button class="button dark">LOGIN</button></a>
      </div>
    </div>
  </div>
      <img class="big-purple circle img" src="assets/big-purple.svg"/>
      <img class="small-white-circle circle img" src="assets/small-white-circle.svg"/>
      <img class="medium-white-circle circle img" src="assets/medium-white-circle.svg"/>
      <img class="large-white-circle circle img" src="assets/large-white-circle.svg"/>
  </div>
</div>
