<div class="pagecontainer">
  <div class="imgcontainer">
    <a href="">
      <img src="/assets/SOJAZLOGO 1.svg" alt="Logo" class="logo">

    </a>
  </div>

  <br>


  <form #userData="ngForm" (ngSubmit)="login(userData)" novalidate>

    <div class="form-group">
      <input class="form-control login-input" name="username" id="username" placeholder="Enter Username" ngModel="" (keydown)="error = ''"><br>
    </div>
    <div class="form-group">
      <input class="form-control login-input" type="password" name="password" id="password" placeholder="Enter Password"
             ngModel="" (keydown)="error = ''"><br>
    </div>
    <div class="form-group">
      <button class="login-btn">Log In</button>

    </div>
    <p *ngIf="error">{{this.error}}</p>


    <p>
      <a class="forgot-pass" (click)="pageOneDisplay()">Forgot your password?</a>
    </p>


  </form>


</div>
<footer>
  <div class="footer">
    <div class="copyright">
      <h5>COPYRIGHT BY SOJAZ LLC. 2022</h5>
    </div>
  </div>
</footer>
