.header {
  background-color: navy;
  color: #7FFFD4;
  text-align: center;
  font-family: Geneva;
  padding: 100px;
}

.desc{
  text-align: center;
}

.footer {
  background-color: var(--main-color);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;

}
