#foodWidget {
  width: 450px;
  height: 300px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: navy;
  justify-content: center;
}

.title {
  color: white;
  text-align: center;
}
.divChild {

}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50px;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: navy;
  color: #7FFFD4;
}

tr:nth-child(odd) {
  color: navy;
}
