table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50px;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: navy;
  color: #7FFFD4;
}

tr:nth-child(odd) {
  color: navy;
}
