<div *ngIf="selectedFood" class="addfood">
  <ul  class="nutrition-facts">
    <div class="listgroup">
      <li>Food: {{selectedFood.foodName}}</li>
      <li>Calories: {{selectedFood.calories}}</li>
      <li>Carbs: {{selectedFood.totalCarbs}}</li>
      <li>Sodium: {{selectedFood.sodium}}</li>
    </div>
    <div class="listgroup">
      <li>Total Fat: {{selectedFood.totalFat}}</li>
      <li>Protein: {{selectedFood.protein}}</li>
      <li>Sugar: {{selectedFood.sugar}}</li>
      <li>Serving Size: {{selectedFood.servingSize}}</li>
    </div>
<!--    -->
  </ul>
  <select class="selectmeal servingsinput" (change)="validateValues(meal.value, servno.valueAsNumber)" #meal>
    <option value="Breakfast">Breakfast</option>
    <option value="Lunch">Lunch</option>
    <option value="Dinner">Dinner</option>
    <option value="Snack">Snack</option>
  </select>
  <input class="servingsinput" type="number" step="0.5" min="0" #servno placeholder="Number of Servings" (change)="validateValues(meal.value, servno.valueAsNumber)">
  <h1 class="error" *ngIf="error">{{error}}</h1>
  <h1 class="success" *ngIf="success">{{success}}</h1>

<div>
  <div class="buttonsrow">
    <button class="button cancel" (click)="cancelAdd()">Cancel</button>

    <button class="button add" (click)="addFoodToDiary(meal.value, servno.valueAsNumber)">ADD</button>
  </div>
</div>
</div>
