<html>
<app-navbar></app-navbar>
<div class="content mat-app-background " [ngClass]="{'darkMode': isDarkTheme}">
  <div class="theme {{themeColor}}" role="main">
  <h1>ABOUT US</h1>
  <h3>Get to know a little bit about the bois.</h3>
</div>

<div class="font">
  <h1>CEO</h1>
  <h2>JONATHAN CAMPOS</h2>
  <p>Chill dude, with chill vibes.</p>
</div>

<div class="font">
  <h1>CFO</h1>
  <h2>AAKIFY</h2>
  <p>twitch.tv/aakify live on tuesday and thursdays at 3 p.m central</p>
</div>

<div class="font">
  <h1>COO</h1>
  <h2>SHUAIB AHMED</h2>
  <p>Living a meaningless life that gets more meaningless by the second. Wishes for eternal rest from the world.</p>
</div>

<div class="font">
  <h1>CMO</h1>
  <h2>Omer BEEBS</h2>
  <p>Silent, but deadly</p>
</div>

<br>
<br>

<footer>
  <h5>COPYRIGHT BY SOJAZ LLC. 2022</h5>
  <a href="settingspage">Settings</a>
</footer>
</div>
</html>
