<html>

<div class="header">
  <h1>ABOUT US</h1>
  <h3>Get to know a little bit about the bois.</h3>
</div>

<div class="font">
  <h1>CEO</h1>
  <h2>JONATHAN CAMPOS</h2>
  <p>Chill dude, with chill vibes.</p>
</div>

<div class="font">
  <h1>CFO</h1>
  <h2>AAKIFY</h2>
  <p>twitch.tv/aakify live on tuesday and thursdays at 3 p.m central</p>
</div>

<div class="font">
  <h1>COO</h1>
  <h2>SHAUIB AHMED</h2>
  <p>Got its title, just by being coo :p</p>
</div>

<div class="font">
  <h1>CMO</h1>
  <h2>Omer BEEBS</h2>
  <p>Silent, but deadly</p>
</div>

<br>
<br>

<div class="copyright">
  <h5>COPYRIGHT BY SOJAZ LLC. 2022</h5>
</div>
</html>
