
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$FrontEnd-primary: mat.define-palette(mat.$indigo-palette);
$FrontEnd-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$FrontEnd-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$FrontEnd-theme: mat.define-light-theme((
  color: (
    primary: $FrontEnd-primary,
    accent: $FrontEnd-accent,
    warn: $FrontEnd-warn,
  )
));

$FrontEnd-primary-dark: mat.define-palette(mat.$yellow-palette);
$FrontEnd-accent-dark: mat.define-palette(mat.$green-palette);
$FrontEnd-warn-dark: mat.define-palette(mat.$red-palette);

$FrontEnd-theme-dark: mat.define-dark-theme($FrontEnd-primary-dark, $FrontEnd-accent-dark, $FrontEnd-warn);
.dark-theme-mode{
  @include mat.all-component-themes($FrontEnd-theme-dark);
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($FrontEnd-theme);



body {
  background-color: #7FFFD4;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


:root {
  --dark-color: black;
  --light-color: white;
  --main-color: rgb(52, 43, 109);
  --off-white-color: #e8e8e8;
  --ff-regular: Poppins;
  --bold: 700;
  --semi-bold: 600;
}

/*Toast Messages Bootstrap version*/
@import '~ngx-toastr/toastr-bs4-alert';


#toast-container > .toast-success {
  background-color: var(--off-white-color);
  color: var(--main-color);
  font-size: 1rem;
  font-weight: 700;
  font-family: var(--ff-regular);
  background-image: url("assets/successcheckmark.svg")!important;
  border: 3px solid var(--main-color);
}

