<!DOCTYPE html>
<html lang="en">
<app-navbar></app-navbar>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Types of Legs Workouts</h2>
  <ul class="list-group">
    <li class="list-group-item">Weighted Back Squat - Load a barbell on your traps and stand with your feet shoulder-width apart. Your gaze should be ahead, your chest should be proud, and your toes should be pointed slightly out.
      Sit back into your hips, bend your knees, and drop down toward the floor. Ensure that your knees move slightly out, and do not collapse in.
      Lower until your thighs are parallel to the ground — or as far down as your mobility allows — then push back up to the starting position.</li>

    <li class="list-group-item">Walking Lunges - Start with your feet together. Hold a dumbbell in each hand if you want to perform a weighted walking lunge.
      Keeping your chest proud and gaze straight ahead, step forward, lunging with your right leg until your thigh is parallel to the ground.
      Push up through your right heel, coming back up to the starting position.
      Continue forward with the left leg.
      Gently bend the knees.
      Rotate the rope from the wrist and keep a smooth arc as the rope passes overhead.
      Jump low to reduce impact on the knees and ankles.</li>

    <li class="list-group-item">Glute Bridge - Lie on your back with your knees bent, feet flat on the floor, and your arms down at your sides.
      Inhale and push through all four corners of your feet, engaging your core, glutes, and hamstrings to press your hips toward the ceiling.
      Pause at the top, then slowly release back to the starting position..</ul>
</div>

</body>
</html>
