<!DOCTYPE html>
<html lang="en">
<app-navbar></app-navbar>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Types of Cardio Workouts</h2>
  <ul class="list-group">
    <li class="list-group-item">5k - Under this 5K run training schedule, you'll spend some of your time walking.
      For instance, during week one on run/walk days, you'll run for 15 seconds and then walk for 45 seconds, repeating
      that cycle for 30 minutes. As the weeks progress, you'll gradually increase time spent running and reduce the time spent walking.</li>
    <li class="list-group-item">Jump Rope - Lightly grip the handles of the jump rope.
      Relax the shoulders and keep the elbows close to the torso.
      Gently bend the knees.
      Rotate the rope from the wrist and keep a smooth arc as the rope passes overhead.
      Jump low to reduce impact on the knees and ankles.</li>
    <li class="list-group-item">Burpees - Stand upright.
      Squat, placing the hands on the ground.
      Jump the legs back so they are straight.
      Jump the legs to return into the squat position.
      Stand up.
      Jump in place.
      Repeat.</ul>
</div>

</body>
</html>
