<!DOCTYPE html>
<html lang="en">
<app-navbar></app-navbar>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Types of Chest Workouts</h2>
  <ul class="list-group">
    <li class="list-group-item">Bench Press- 3 sets of 5 repetitions with 85% of 1RM (block periodization style). </li>
    <li class="list-group-item">Incline Bench Press - pulling your shoulder blades back and down, grabbing the bar with your hands a little wider than shoulder-width apart, lowering the barbell to your upper chest, and pressing the bar back up to the starting position. </li>
    <li class="list-group-item">Chest Dip - Grab the parallel bars and jump up, straighten your arms
      Lower your body by bending your arms while leaning forward
      Dip down until your shoulders are below your elbows
      Lift your body up by straightening your arms
      Lock your elbows at the top </ul>
</div>

</body>
</html>
