<app-navbar></app-navbar>
<div class="header">
  <h1>Workout Equipment</h1>
  <h3>What equipment do you want to choose?</h3>
</div>
<br>
<h2 style="text-align: center">Select the Type of Workout Equipment</h2>
<div style="width: 500px;">
  <select class="form-control select2" type="text" style="width: 100%;" [(ngModel)]="optionValue">
    <option value="bar">Bar</option>
    <option value="dumbells">Dumbells</option>
    <option value="treadmill">Treadmill</option>
  </select>
</div>
<br><br>


<div class="form-container">
  <form #filterData="ngForm" (ngSubmit)="filterMuscles(filterData)" novalidate>
    <div class="form-group">
      <input class="form-control filter-input" name="filterName" value="filterName" id="filterName" ngModel required #team="ngModel">
      <button class="filter-btn">Filter By Team!</button>
    </div>
  </form>
</div>
