.footer {
  background-color: #333333;
  height: 10%;
  width: 100%;
  position: relative;
  bottom: 0%;
  color: var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  h5 {
    font-size: 0.8rem;
    font-family: var(--ff-regular);
    font-weight: 400;
  }
}
